@using FantasyCongress.Domain.Entities
@model IEnumerable<Legislator>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@foreach (Legislator pol in Model.OrderBy(x => x.LastName))
{
    string id = pol.BioGuideId;
    <div>
        <img src="http://theunitedstates.io/images/congress/225x275/@(id).jpg" />
        <div>@pol.FirstName @pol.LastName</div>
    </div>
}